body {
    background-image: url('./trade.jpg');
    backface-visibility: 20%;
}

/* @media (min-width: 400px) {
    .element {
        background: #cccccc;
    }
}

@media (min-width: 500px) {
    .element {
        background: #888888;
    }
}

@media (min-width: 600px) {
    .element {
        background: #222222;
    }
} */